body {
    max-width: 100%;
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);;
    background-size: cover;
    font-family: 'didot';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, :before, :after {
    box-sizing: border-box;
}


.header-section {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 40px 3%; 
}

.mobile-logo-img {
    display: none; 
}

.header-h1 {
    font-size: 40px;
    color: #023fe0;
}

.nav-links {
        list-style: none; 
        display: flex; 
        flex-direction: row; 
        align-items: center;
    }

.nav-links li {
        padding: 20px;
    }

.nav-links li a {
    transition: all 0.3 ease 0s; 
    text-decoration: none; 
}

.nav-links li a:hover {
   color:white;
}

.contact-button {
    padding: 9px 25px;
    background-color: #023fe0;
    border-radius: 30px; 
    border: none;
    transition: all 0.3 ease 0s;
    margin-left: 25px;
    width: 110px;
    color: white;
}

a {
    text-decoration: none;
    color: #023fe0;
    font-family: 'Didot', serif;
    font-size: 20px;
    cursor: pointer;
}


/* Info shown in tooltip */
span[data-tooltip] {
    text-decoration: none;
    cursor: pointer; 
    position: relative;
    font-family: 'Source Sans Pro', serif;
    color: white;
    font-size: 16px;
  }

span[data-tooltip]:hover {
    color: #023fe0;
    font-weight: 600;
  }

span[data-tooltip]:hover::after{
    text-decoration: underline;
    content:attr(data-tooltip);
    position:inherit;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    left: -185px;
    top: 50px;
    color: #023fe0;
    border: 1px #023fe0 solid;
    text-align: center;
  }

button:hover {
    background-color: #ffffff;
}

.main-h1 {
    text-align: center;
    margin-top: 200px;
    font-size: 300px;
    color:  #023fe0;
    margin-bottom: 200px;
}


#about-me {
    min-height: 80vh; 
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.about-me-container {
    width: 100%;
    max-width: 1200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-text h2 {
    font-size: 40px;
    font-family: 'Didot', 'serif';
    font-weight: lighter;
    line-height: 55px;
    color: #023fe0;
    padding-right: 20px;
}

.about-me-text {
    width: 100%;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 80px 0 0 0px;
    z-index: 1; 
    position: relative;
    display: inline-block;
    line-height: 1;
}

.about-me-img-container {
    margin-left: -100px;
    width: 500px;
} 

.about-me-img {
    width: 100%;
    height: 550px;
    background: url(../images/about-me-img.jpg) no-repeat center / cover; 
    border-radius: 40px;
    border: 0.05px solid rgb(94, 94, 94);
    transform: rotate(-3deg); 
    margin-left: -55px;  
}

.about-me-img:hover {
    border-radius: 360px / 500px;
}

main {
    position: relative; 
    min-height: 80vh; 
    max-width: fit-content;
}

#projects-body {
    margin: 0 auto;
}

.projects-h2-heading {
    margin: 200px 0 100px 0;
}

.projects-h2 {
    font-size: 100px;
    text-align: center;
    color: #023fe0;
}

.projects-h2-heading-2 {
    margin-top: 40px;
    margin-bottom: 70px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px; 
    padding: 10px;
    margin: 20px;
    max-width: 1400px;
}
.view-all-projects-btn {

    display: flex;
        margin: 50px;
}

.btn-primary {
    margin: auto;
    color: #fff;
    background-color: #92b4e6;
    border-color: #1371fc;
}

h3 {
    font-family: 'Didot', serif;
    font-size: 30px;
    color:#023fe0;
    padding: 5px;
    transform: rotate(-5deg);
}



footer {
    width: auto;
    margin-top: 50px;
}

.footer-box {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    justify-content: center;
}

.footer-links {
    list-style: none;
    padding: 0px 25px;
    display: flex;
    width: auto;
    gap: 150px;
    align-items: center;
}

.footer-links li a {
    transition: all 0.3 ease 0s;
    text-decoration: none;
    color:#023fe0;
    display: inline-block;
}

/* Deskop viewport */
@media screen and (max-width: 992px) {
    .header-section {
        display: flex;
    }

    .nav-links {
        margin-right: 0;
    }
  
    .nav-links li {
        padding: 10px;
    }

    .nav-links li a {
        text-decoration: none;
        margin-right: 45px;
    }

    .contact-button {
        margin-left: 0px;
    }

    .header-h1 {
        font-size: 25px;
    }

    .main-h1 {
        font-size: 200px;
    }

    .about-me-container {
        width: 100%;
        display: block;
    }

    .about-me-text {
        min-height: 100px;
    }

    .about-me-text h2 {
        font-size: 35px;
        line-height: 60px;
        text-align: center;
        margin: 0 30px;
    }

    .about-me-img-container {
    margin: 0;
    }

    .about-me-img {
        width: 620;
        height: 700px;
        margin: -55px 90px 40px 190px;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }  


    .footer-links {
        gap: 75px;
    }


/* Tablets & Large Smartphones */
@media screen and (max-width: 768px) {
    .header-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 3%;
        width: 100%;
    }

    .logo-img {
        display: none;
    }

    .mobile-logo-img {
        display: block;
    }
    
    .nav-bar {
        margin-top: 35px;
    }
    .nav-links {
        list-style: none;
    }
    
    .nav-links li {
        display: inline-block;
    }
    
    .nav-links li a {
        transition: all 0.3 ease 0s;
        text-decoration: none;
    }
    
    .nav-links li a:hover {
       color: white;
    }
    
    .contact-button {
        margin: 10px 25px;
    }

    #projects-body {
        margin: 0 auto;
    }

    .header-h1 {
        display: none;
    }

    .main-h1 {
        text-align: center;
        margin-top: 100px;
        font-size: 130px;
        margin-bottom: 120px;
    }

    .about-me-container {
        width: 100%;
        display: block;
    }

    .about-me-text {
        min-height: 100px;
    }
    
    .about-me-text h2 {
        font-size: 22px;
        font-family: 'Didot', 'serif';
        line-height: 30px;
        text-align: center;
        margin: 0 22px;
    }

    .about-me-img-container {
        margin: 0;
    }

    .about-me-img {
        width: 300px;
        height: 450px;
        margin-top: -45px; 
    }

    .projects-h2-heading {
        margin: 80px 0 80px 0;
    }

    .projects-h2 {
        font-size: 80px; 
    }

    h3 {
        font-size: 28px;
        margin-left: -50px;
        margin-top: -30px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }   


    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-img {
        width: 100px;
        height: 100px;
    }
}

/* Smartphones */
@media screen and (max-width: 576px) {
    .header-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 3%;
        width: 100%;
    }

    .logo-img {
        display: none;
    }

    .mobile-logo-img {
        display: block;
    }
    
    .nav-bar {
        margin-top: 35px;
    }
    .nav-links {
        list-style: none;
    }
    
    .nav-links li {
        display: inline-block;
        padding: 10px 46px;
    }
    
    .nav-links li a {
        transition: all 0.3 ease 0s;
        text-decoration: none;
    }
    
    .nav-links li a:hover {
       color: teal;
    }
    
    .contact-button {
        margin: 10px 25px;
    }

    #projects-body {
        margin: 0 auto;
    }

    .main-h1 {
        text-align: center;
        margin-top: 100px;
        font-size: 110px;
        margin-bottom: 120px;
    }

    .about-me-container {
        width: 100%;
        display: block;
    }

    .about-me-text {
        margin: 0;
    }
    
    .about-me-text h2 {
        font-size: 22px;
        font-family: 'Didot', 'serif';
        font-weight: lighter;
        line-height: 30px;
        color: #ffffff;
        text-align: center;
        margin: 0 22px;

    }
    .about-button {
        margin: 40px 0 0 148px;
    }

    .about-me-img {
        width: 300px;
        height: 450px;
        margin: -80px 90px 40px 145px;
    }

    .projects-h2-heading {
        margin: 80px 0 40px 0;
    }

    .projects-h2 {
        font-size: 80px; 
    }

    .main-large-flexbox {
        width: 360px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;

    }  

   

  
    .footer-links {
        gap: 30px
    }
    
}}